/* --- ESTILOS GENERALES Y FONDO --- */
body { 
    font-family: 'Arial', sans-serif; 
    background-color: #DC143C; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    padding: 20px 0;
}

/* --- CONTENEDOR DEL FORMULARIO --- */
.formulario-caja { 
    background-color: white; 
    padding: 30px; 
    border-radius: 8px; 
    width: 100%; 
    max-width: 500px; 
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2); 
    box-sizing: border-box;
}

h2 { 
    text-align: center; 
    color: #333; 
    margin-top: 0; 
    margin-bottom: 20px;
}

/* --- ETIQUETAS Y CAJAS DE TEXTO --- */
label { 
    font-weight: bold; 
    color: #555; 
    display: block; 
    margin-top: 15px; 
    margin-bottom: 5px; 
    font-size: 14px;
}

input[type="text"], 
select { 
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 15px; 
}

input:focus, select:focus {
    border-color: #DC143C;
    outline: none;
}

/* --- MENSAJES DE ALERTA --- */
.alerta-exito {
    color: #155724; 
    background-color: #d4edda; 
    padding: 15px; 
    border-radius: 5px; 
    text-align: center; 
    margin-bottom: 15px;
    border: 1px solid #c3e6cb;
}

.alerta-error {
    color: #721c24; 
    background-color: #f8d7da; 
    padding: 15px; 
    border-radius: 5px; 
    text-align: center; 
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
}

/* --- BOTONES Y ENLACES --- */
.btn-guardar { 
    background-color: #DC143C; /* Lo ponemos verde para que parezca de "Nueva Orden" */
    color: white; 
    padding: 12px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
    font-size: 16px; 
    font-weight: bold; 
    margin-top: 25px; 
    transition: background-color 0.3s; 
}

.btn-guardar:hover { background-color: #DC143C }

.btn-regresar { 
    background-color: #e0e0e0;
    color: #333;
    padding: 12px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
    font-size: 16px; 
    font-weight: bold; 
    margin-top: 20px; 
    transition: background-color 0.3s; 
}

.btn-regresar a { 
    color: #666; 
    text-decoration: none; 
}

.btn-regresar:hover { text-decoration: underline; color: #333; }