body {
    background-color: #ffff00cb;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.contenedor-tabla {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    width: 90%; 
    max-width: 900px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2); 
    box-sizing: border-box;
    margin: 20px;
    overflow-x: auto;
}

.contenedor-tabla h2 {
    text-align: center;
    color: #444;
    margin-top: 0;
    margin-bottom: 20px;
}


.acciones-tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



.btn-primario, .btn-secundario {
    display: inline-block; 
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.btn-secundario {
    background-color: #e0e0e0;
    color: #333;
}

.btn-secundario:hover {
    background-color: #c8c8c8;
}

.btn-primario {
    background-color: #ffff00cb; 
    color: #333;
}

.btn-primario:hover {
    background-color: #ffff00cb; 
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1.5px solid #e1e1e1;
    color: #444;
    font-size: 15px;
}

th {
    background-color: #ffff00cb;
    color: #333;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}